
@{
    ViewBag.Title = "Index";
}

<div id="status" style="font-size: 18px; font-weight: bold;">Welcome!</div>

<div style="margin: 25px 0 25px 0;">
    <input id="btnLogin" type="button" value="Login" />
    <input id="btnLogout" type="button" value="Logout" style="display: none;" />
</div>
<div>
    Search:
    <input id="txtQuery" type="text" />
    <input id="btnSearch" type="button" value="Search" />
</div>

<hr />

<div id="result"></div>

<script src="~/Scripts/script.js"></script>