<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - TokenAuthMVC</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    @RenderBody()

    <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/hmac-sha256.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/components/enc-base64-min.js"></script>
    <script src="~/Scripts/security.js"></script>
</body>
</html>