<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - TokenAuthMVC</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    @RenderBody()

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64.js"></script>
    <script src="~/Scripts/security.js"></script>
</body>
</html>
